/* @override http://cgi.cse.unsw.edu.au/~sant964/ass2/style.css */

body {
   font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
   margin: 0;
}

a {
   text-decoration: none;
   color: #0a9d00;
   font-weight: bold;
}

a:hover {
   color: #055f00;
}

h1 {
   color: #157e00;
}

/* @group top-header */

#top-header {
   width: 1000px;
   margin-right: auto;
   margin-left: auto;
   border: 1px solid #c3c3c3;
   background-color: #009514;
   border-top-style: none;
   padding: 5px 10px;
   display: block;
}

#top-header-logo {
   display: inline;
}

#top-header-logo a {
   color: #ffffff;
   font-size: 1.2em;
}

#top-header-logo a:hover {
   color: #9fffa0;
}

#top-header-namearea {
   display: inline;
   font-size: 1.2em;
   float: right;
}

#top-header-namearea a {
   color: #ffffff;
}

#top-header-namearea a:hover {
   color: #d4ffc6;
}

#top-header-pic {
   margin-left: 10px;
   margin-right: 10px;
   width: 1.2em;
   height: 1.2em;
   vertical-align: top;
}

/* @end */

/* @group home_page */

#home-page, #login-page, #search-page, #delete-page {
   width: 1000px;
   border-right: 1px solid #b2b2b2;
   border-left: 1px solid #b1b1b1;
   padding-right: 10px;
   padding-left: 10px;
   padding-bottom: 30px;
   border-bottom: 2px solid #9f9f9f;
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   border-top: 1px solid #858585;
}

#home-title {
}

#home-randombox, #home-searchbox, .login-box, .login-submit {
   font-size: 1em;
   margin: 10px;
   background-color: #e9ffe9;
}

#home-searchbox, .login-box {
   text-align: center;
   font-weight: bold;
   color: #096900;
}

/* @end */

/* @group user_page */

#user-page {
   width: 1000px;
   border-right: 1px solid #b2b2b2;
   border-left: 1px solid #b1b1b1;
   border-bottom: 2px solid #9f9f9f;
   margin-top: 20px;
   margin-left: auto;
   margin-right: auto;
   border-top: 1px solid #858585;
   padding: 10px 10px 30px;
}

#user-page h2 {
   margin-top: 0;
}

#user-2col {
   width: 100%;
   display: inline-block;
}

#user-leftcol {
   float: left;
   width: 250px;
}

#user-rightcol {
   float: right;
   width: 700px;
}

/* @end */

/* @group matelist */

ul.matelist li {
   height: 50px;
   margin-top: 10px;
   display: block;
}

ul.matelist li a {
   height: 1em;
   margin-top: auto;
   margin-bottom: auto;
   display: block;
}

.matelist-pic {
   width: 50px;
   height: 50px;
   margin: auto;
   display: block;
   float: left;
   padding-right: 10px;
}

/* @end */

/* @group login-page */

/* @end */

/* @group search-page */

#search-matelist li {
   height: 50px;
   margin-top: 10px;
   display: block;
   margin-right: auto;
   margin-left: auto;
   text-align: left;
   width: 50%;
}

#search-matelist li a {
   height: 1em;
   margin-top: auto;
   margin-bottom: auto;
   display: block;
}

/* @end */

/* @group toolbar */

#toolbar {
   width: 1000px;
   margin: 5px auto;
   padding: 10px;
   background-color: #c6c6c6;
   border: 1px solid #00d000;
   display: block;
}

#toolbar-left {
   height: 1em;
   text-align: left;
}

#toolbar-right {
   height: 1em;
   text-align: right;
   float: right;
}

/* @end */

/* @group delete-page */

#delete-warning {
   background-color: #ffc3c3;
   border: 1px solid #ff0707;
   margin: 5px;
   padding: 5px;
}

#delete-button {
   font-size: 1em;
   background-color: #ffd6d6;
}

/* @end */