/* @override http://cgi.cse.unsw.edu.au/~sant964/ass2/style.css */

body {
   font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
   margin: 0;
}

a {
   text-decoration: none;
   color: #0a9d00;
   font-weight: bold;
}

a:hover {
   color: #055f00;
}

h1 {
   color: #157e00;
}

img {
   border-width: 0;
   border-style: none;
}

/* @group top-header */

#top-header {
   width: 1000px;
   margin-right: auto;
   margin-left: auto;
   border: 1px solid #c3c3c3;
   background-color: #009514;
   border-top-style: none;
   padding: 5px 10px;
   display: block;
   margin-bottom: 10px;
}

#top-header-logo {
   display: inline;
}

#top-header-logo a {
   color: #ffffff;
   font-size: 1.2em;
}

#top-header-logo a:hover {
   color: #9fffa0;
}

#top-header-namearea {
   display: inline;
   font-size: 1.2em;
   float: right;
}

#top-header-namearea a {
   color: #ffffff;
}

#top-header-namearea a:hover {
   color: #d4ffc6;
}

#top-header-pic {
   margin-left: 10px;
   margin-right: 10px;
   width: 1.2em;
   height: 1.2em;
   vertical-align: top;
}

#top-header-requests {
   margin-right: 10px;
   background-color: #734281;
   padding-right: 6px;
   padding-left: 6px;
}

/* @end */

/* @group home_page */

#home-page, #login-page, #search-page, #delete-page, #create-page, #status-page {
   width: 1000px;
   border-right: 1px solid #b2b2b2;
   border-left: 1px solid #b1b1b1;
   padding-right: 10px;
   padding-left: 10px;
   padding-bottom: 30px;
   border-bottom: 2px solid #9f9f9f;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   border-top: 1px solid #858585;
}

#home-title {
}

#home-randombox, #home-searchbox, .login-box, .login-submit {
   font-size: 1em;
   margin: 10px;
   background-color: #e9ffe9;
}

#home-searchbox, .login-box {
   text-align: center;
   font-weight: bold;
   color: #096900;
}

/* @end */

/* @group user_page #galley-page edit-page */

#user-page, #gallery-page, #edit-page {
   width: 1000px;
   border-right: 1px solid #b2b2b2;
   border-left: 1px solid #b1b1b1;
   border-bottom: 2px solid #9f9f9f;
   margin-left: auto;
   margin-right: auto;
   border-top: 1px solid #858585;
   padding: 10px 10px 30px;
}

#user-page h2, #gallery-page h2, #edit-page h2 {
   margin-top: 0;
}


#user-2col, #gallery-2col, #edit-2col {
   width: 100%;
   display: inline-block;
}

#user-leftcol, #gallery-leftcol, #edit-leftcol {
   float: left;
   width: 250px;
}

#user-rightcol, #gallery-rightcol, #edit-rightcol {
   float: right;
   width: 700px;
   border-left: 1px dotted #cbcbcb;
   padding-left: 20px;
}

.edit-del-button {
   background-color: #ffffff;
   width: 25px;
   height: 25px;
   border-style: none;
   margin-right: 5px;
   vertical-align: middle;
}

#edit-page textarea {
   background-color: #e9ffe9;
   width: 99%;
   font-size: 1em;
   height: 8em;
}

/* @end */

/* @group user_page edit-page */

#edit-page h3 {
   margin-bottom: 5px;
   margin-top: 5px;
}


#edit-page input, #edit-page select {
   background-color: #e9ffe9;
   font-size: 1em;
   width: 250px;
}


/* @end */

/* @group gallery-page */

.gallery-picture {
   margin-right: auto;
   margin-left: auto;
   display: block;
}

.gallery-edit-delete {
   display: inline;
   float: left;
   margin-right: 5px;
}

/* @end */

/* @group matelist */

ul.matelist li {
   height: 50px;
   margin-top: 10px;
   display: block;
}

ul.matelist li a {
   height: 1em;
   margin-top: auto;
   margin-bottom: auto;
   display: block;
}

.matelist-pic {
   width: 50px;
   height: 50px;
   margin: auto;
   display: block;
   float: left;
   padding-right: 10px;
}

/* @end */

/* @group login-page */

/* @end */

/* @group search-page */

#search-matelist li {
   height: 50px;
   margin-top: 10px;
   display: block;
   margin-right: auto;
   margin-left: auto;
   text-align: left;
   width: 50%;
}

#search-matelist li a {
   height: 1em;
   margin-top: auto;
   margin-bottom: auto;
   display: block;
   vertical-align: middle;
}

/* @end */

/* @group toolbar */

#toolbar {
   width: 1000px;
   padding: 10px;
   background-color: #c6c6c6;
   border: 1px solid #00d000;
   display: block;
   margin: 5px auto 10px;
}

#toolbar-left {
   height: 1em;
   text-align: left;
}

#toolbar-right {
   height: 1em;
   text-align: right;
   float: right;
}

/* @end */

/* @group delete-page */

#delete-warning {
   background-color: #ffc3c3;
   border: 1px solid #ff0707;
   margin: 5px;
   padding: 5px;
}

#delete-button {
   font-size: 1em;
   background-color: #ffd6d6;
}

/* @end */

/* @group create-page */

#create-form {
   margin: 10px auto;
   text-align: right;
   padding-right: 33%;
}

#create-form input, #create-form button, #create-form select {
   font-size: 1em;
   background-color: #e9ffe9;
   width: 300px;
}

/* @end */

/* @group status-page */

#status-success-box {
   margin: 5px;
   padding: 5px;
   background-color: #bbffb8;
   border: 1px solid #028f00;
   text-align: center;
}

#status-error-box {
   margin: 5px;
   padding: 5px;
   background-color: #ffb8b8;
   border: 1px solid #8f0000;
   text-align: center;
}

/* @end */

/* @group managerequests-page */

#managerequests-page {
   width: 1000px;
   border-right: 1px solid #b2b2b2;
   border-left: 1px solid #b1b1b1;
   border-bottom: 2px solid #9f9f9f;
   margin-left: auto;
   margin-right: auto;
   border-top: 1px solid #858585;
   padding: 10px 10px 30px;
}

.managerequests-request {
   padding: 10px;
   border-top: 1px solid #a6a6a6;
   height: 150px;
}

.managerequests-picture {
   width: 150px;
   vertical-align: middle;
   margin-right: 10px;
}

.managerequests-buttons {
   text-align: right;
   float: right;
   font-size: 15px;
   height: 15px;
   margin-top: 60px;
   margin-bottom: auto;
   display: block;
}

/* @end */